## PEMS03 EDA

In [1]:
import pandas as pd 
import numpy as np
import sys
import os
sys.path.append(os.path.abspath('..'))

In [2]:
df = pd.read_csv('../datasets/PEMS03/data.csv', parse_dates=['timestamp'])
df.head()

,timestamp,313344,313349,313438,313450,313487,313493,313512,313551,313552,...,313144,313159,313166,313172,313178,313184,313190,313197,313204,313339
0,2018-09-01 00:00:00,20.0,20.0,182.0,182.0,91.0,182.0,136.0,91.0,91.0,...,158.0,63.0,63.0,63.0,125.0,114.0,63.0,63.0,115.0,63.0
1,2018-09-01 00:05:00,22.0,22.0,174.0,174.0,87.0,174.0,131.0,87.0,87.0,...,158.0,62.0,62.0,62.0,144.0,109.0,62.0,63.0,109.0,62.0
2,2018-09-01 00:10:00,22.0,22.0,183.0,183.0,92.0,183.0,139.0,92.0,92.0,...,160.0,57.0,57.0,57.0,131.0,116.0,57.0,57.0,115.0,57.0
3,2018-09-01 00:15:00,50.0,49.0,137.0,139.0,60.0,158.0,111.0,57.0,55.0,...,174.0,109.0,30.0,58.0,106.0,102.0,52.0,111.0,88.0,48.0
4,2018-09-01 00:20:00,37.0,35.0,128.0,123.0,54.0,131.0,111.0,46.0,52.0,...,162.0,77.0,31.0,55.0,109.0,127.0,49.0,109.0,76.0,47.0

In [19]:
print(df.shape)
print(df.columns)
print(type(df['timestamp']))
# 26208 registros , 358 estacões

(26208, 359)
Index(['timestamp', '313344', '313349', '313438', '313450', '313487', '313493',
       '313512', '313551', '313552',
       ...
       '313144', '313159', '313166', '313172', '313178', '313184', '313190',
       '313197', '313204', '313339'],
      dtype='object', length=359)
<class 'pandas.core.series.Series'>

In [28]:
# Print columns with missing values if any, else print 'No missing values'
missing = df.isna().sum()
if (missing > 0).any():
    print(missing[missing > 0])
else:
    print('No missing values')

No missing values

In [3]:
from embeddings.temporal import TemporalEmbedding,SinusoidalTemporalEncoding

# Create the embedding
print(f'original - {type(df['timestamp'].iloc[0])}')
print(f'original - {[df['timestamp'].iloc[2016]]}')


# Instantiate temporal embedding
temb = SinusoidalTemporalEncoding(df['timestamp'])

original - <class 'pandas._libs.tslibs.timestamps.Timestamp'>
original - [Timestamp('2018-09-08 00:00:00')]

In [4]:
import torch
import numpy as np

# Stack all embeddings into a single tensor
all_embs = torch.stack(list(temb.embeddings.values())).cpu().numpy()

# Find duplicates
_, idx, counts = np.unique(all_embs, axis=0, return_index=True, return_counts=True)
has_duplicates = np.any(counts > 1)
if has_duplicates:
    print("There are duplicate embeddings.")
    dup_vals = all_embs[np.where(counts > 1)[0]]
    for val in dup_vals:
        lines = np.where((all_embs == val).all(axis=1))[0]
        print(f"Duplicate embedding: {val}, at lines: {lines}")
else:
    print("All embeddings are unique.")

All embeddings are unique.